extends layout.pug

block content
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Ryan Lertola

        p.lead.text-light
          | Full Stack JavaScript Developer

        .portfolio-bio
          p
            | Hi, my name is Ryan and I am an aspiring fullstack JavaScript developer. I recently completed the TreeHouse Techdegree program with a primary focus on JavaScript, Node, React, Express and Mongo. I have also completed a Flutter Development course. Please check out my projects and certificates.
      .cell.portfolio-meta.small-6.medium-2.large-3

        h6 Certificates

        a.button.expanded(href='/static/certificates/treehouse-cert.pdf' target='_blank') Treehouse
        a.button.expanded(href='/static/certificates/flutter-cert.pdf' target='_blank') Flutter

        ul

        h6 Skills

        ul
          li Javascript
          li HTML/CSS
          li Node
          li Express
          li React
          li Dart
          li Flutter
          li JQuery
          li MongoDb
          li Mongoose
          li SQL
          li Pug
          li API/HTTP

        h6 Contact Info

        ul
          li 480-326-6124
          li rlertola@gmail.com

        a.button.expanded(href='https://github.com/rlertola' target='_blank') GitHub

  nav.grid-container.portfolio-breadcrumb

