h1,
h2,
h3,
h4,
h5,
p {
  /* font-family: 'Merriweather', serif; */
  font-family: 'Saira Extra Condensed', sans-serif;
  font-size: 60px;
}

h5 {
  font-family: 'Saira Extra Condensed', sans-serif;
  letter-spacing: 2.5px;
  font-size: 25px;
  text-align: center;
  -webkit-text-transform: uppercase;
  text-transform: uppercase;
  color: #11a78e;
}

.H5sidebar {
  text-align: left;
  color: #11a78e;
}

h6 {
  letter-spacing: 2.5px;
  -webkit-text-transform: uppercase;
  text-transform: uppercase;
  font-weight: 600;
}

p {
  font-size: 30px;
  color: #666;
}

.round {
  border-radius: 5px;
}

.text-light {
  color: #666;
  font-size: 30px;
}

.text-light.sidebar {
  font-size: 20px;
}

.button {
  background-color: #040d44;
}

.button:hover {
  background: #11a78e;
}

a {
  color: #333;
}

a:hover {
  color: #111;
}

a.certs {
  text-decoration: none;
}

a.certs:hover {
  color: 11a78e;
}

.image {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 2.5rem;
  border: solid 4px #6d080807;
  border-radius: 2px;
  box-shadow: 0 0 0 2px rgba(10, 10, 10, 0.2);
  line-height: 0;
}

.portfolio-me {
  padding: 20px;
  background: #040d44;
  color: #fff;
  box-shadow: none !important;
}

.portfolio-me p {
  font-size: 14px;
  color: #999;
}

.portfolio-me a {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 600;
  color: #555;
  font-size: 13px;
  letter-spacing: 2.5px;
  -webkit-text-transform: uppercase;
  text-transform: uppercase;
}

.portfolio-me a:hover {
  color: #999;
}

.portfolio-breadcrumb {
  margin: 0;
}

.portfolio-breadcrumb a {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-size: 13px;
  letter-spacing: 2.5px;
  -webkit-text-transform: uppercase;
  text-transform: uppercase;
}

.portfolio-intro {
  margin: 0;
  padding: 40px 50px 10px;
}

.portfolio-intro p {
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 10px;
}

.portfolio-index {
  margin: 0;
  padding: 10px 50px;
}

.portfolio-index .thumbnail {
  margin-bottom: 10px;
  box-shadow: 0 0 0 1px rgba(10, 10, 10, 0.2);
  /* padding: 5px; */
  /* border-bottom: solid 1px white; */
}

.portfolio-index a {
  color: #222;
}

.portfolio-index .cell {
  margin-bottom: 25px;
}

.portfolio-index .cell h5 {
  letter-spacing: 1px;
}

.cell.Project {
  transition: transform 0.3s;
  background-color: #040d44;
  border-radius: 2px;
}

.cell.Project:hover {
  transition: transform 0.3s;
  transform: scale(1.1);
}

.portfolio-meta {
  padding-left: 20px;
}

.portfolio-meta .button {
  margin-bottom: 5px;
}

.portfolio-project p {
  border: none;
}

.portfolio-project li {
  font-size: 13px;
  color: #444;
}

.portfolio-bio {
  line-height: 25px;
}

.errors {
  margin: 30px;
  border-radius: 5px;
  background-image: url('/static/images/bluesky.jpg');
  background-size: 100%;
  color: white;
}

.errorH1 {
  padding: 20px 40px;
}

.errorButton {
  padding: 20px 40px;
  color: #ececec;
  font-size: 20px;
}

.errorStack {
  margin: 20px 40px;
  font-weight: 20px;
  font-size: 25px;
}
